

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            var NameMass = @Json.Serialize(ViewBag.NameMass);
            var IndMass = @Json.Serialize(ViewBag.IndMass);
           
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Value');
            for (var i = 0; i < NameMass.length; i++) {
                data.addRow([NameMass[i], IndMass[i]]);
            }

            //data.addRows([
            //    ['ВРП', 31.324],
            //    ['КП', 11.2],
            //    ['Витати', 14.9],
            //    ['Викиди', 22.32]
            //]);




            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    @*<form method="get">
        <div class="form-inline">

            <label style="margin:10px">Рік: </label>
            <select name="year" asp-items="Model.ChartFilterViewModel.Years" class="form-control"></select>

            <label style="margin:10px">Регіон: </label>
            <select name="region" asp-items="Model.ChartFilterViewModel.Regions" class="form-control"></select>

            <input style="margin:10px" type="submit" value="Пошук" class="btn btn-outline-dark" />
        </div>
    </form>*@
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>
</html>

