@model LCMonitoringSystem3.Models.Autorisation.LoginModel

@{
    ViewData["Title"] = "Login";
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<h1>Login</h1>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input id="btn1" type="button" value="User" class="btn" />
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>

<script>
    $("#btn1").click(function () {
        $("#Email").val("user@gmail.com");
        $("#Password").val("1user1");
    });
</script>