@{
    ViewData["Title"] = "Головна";
}

<h1 class="text-center">Моніторинг низьковуглецевого розвитку України</h1>

<p><a href="https://www.kmu.gov.ua/news/ostap-semerak-uryad-ukrayini-pidtrimav-strategiyu-nizkovuglecevogo-rozvitku-ukrayini-do-2050-roku">18 липня 2018 року</a> на засіданні Кабінету Міністрів України членами Уряду було прийнято стратегічний документ переходу економіки України на модель низьковуглецевого розвитку (НВР). Як зазначено в «<a href="https://menr.gov.ua/news/31815.html">Стратегії низьковуглецевого розвитку України до 2050 року</a>» (подалі Стратегія), низьковуглецевий розвиток – це розвиток щодо відокремлення подальшого економічного зростання та соціального розвитку держави від збільшення обсягу викидів парникових газів.</p>

<img style="width:100%; height:auto;" src="../Images/UN--brown-environment_print_ua_web.jpg" />

<p style="margin-top: 20px;">Виходячи з основних положень Стратегії, основним принципом НВР має бути зростання економіки за умови скорочення викидів парникових газів, а його критеріями – скорочення вуглецевих викидів, зростання економіки (ВВП).  Для вимірювання НВР, моніторингу його динаміки пропонуються використовувати багатопараметричну систему відповідних статистичних показників, зокрема:</p>
<p>Iндикатори антропогенного впливу на рівень НВР</p>
<ul>
    <li>валовий регіональний продукт (ВПР )(млн. грн); </li>
    <li>кількість великих підприємств;</li>
    <li>утворення відходів (тис.т.);</li>
    <li>витрати на охорону навколишнього природного середовища (млн грн);</li>
</ul>
<p>Показники забруднення атмосферного повітря (тис. т.):</p>
<ul>
    <li>обсяг викидів забруднюючих речовин – усього; </li>
    <li>викиди оксиду вуглецю;</li>
    <li>викиди метану;</li>
    <li>викиди діоксиду азоту;</li>
    <li>викиди оксиду азоту;</li>
    <li>викиди сажі;</li>
    <li>викиди діоксиду сірки;</li>
    <li>викиди неметанових легких органічних сполук;</li>
</ul>
<p>А також:</p>
<ul>
    <li>викиди діоксиду вуглецю, (млн. т.); </li>
    <li>викиди від пересувних джерел забруднення (тонн);</li>

</ul>
